<!DOCTYPE html>
<html class="comments-bg">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Logan Kim's COMP308 Lab 1.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= title %></title>

    <link id="pagestyle" rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <div class="commentsBody">
        <img class="logo" src="img/logo.jpeg" alt="Logo of Centennial College">
        <h1><%= title %></h1>

        <div class="form">
            <form method="post">
                <span class="inputText">Course Code:</span>
                <input class="inputForm" type="text" maxlength="7" placeholder="Please enter the course code (i.e. ABCD123)." name="courseCode" required>
                <br />
                <span class="inputText">Course Name:</span>
                <input class="inputForm" type="text" maxlength="30" placeholder="Please enter the course name." name="courseName" required>
                <br />
                <span class="inputText">Student Email:</span>
                <input class="inputForm" type="text" maxlength="30" placeholder="Please enter the student email." name="studentEmail"
                    value="<%= username %>" style="background: #b6b6b6;" disabled>
                <br />
                <span class="inputText inputTextarea">Your Comments:</span style="line-height: 100px;">
                <textarea class="inputForm" name="comments" placeholder="Please enter the comment." rows="5" required></textarea>
                <br /><br />
                <div style="width: 100%; text-align: center;">
                    <input class="button formButton" type="submit" value="Submit" value="submit">
                </div>
            </form>
        </div>
    </div>
</body>

</html>