<!DOCTYPE html>
<html class="index-bg">

<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Logan Kim's COMP308 Lab 1.">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title><%= title %></title>

	<link id="pagestyle" rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
	<div class="indexBody">
		<img class="logo" src="img/logo.jpeg" alt="Logo of Centennial College">
		<h1><%= title %></h1>
		<form method="post">
			<input class="inputBox" type="text" size="30" placeholder="Please enter your username" name="username"><br />
			<input class="inputBox" type="password" size="30" placeholder="Please enter your password" name="password"><br />
			<input class="button" type="submit" value="Log in" name="submit">
		</form>
	</div>
</body>

</html>