<!DOCTYPE html>
<html lang="en" class="thankyou-bg">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="Logan Kim's COMP308 Lab 2.">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title><%= title %></title>

	<link id="pagestyle" rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
	<div class="thankyouBody">
		<img class="logo" src="img/logo.jpeg" alt="Logo of Centennial College">
		<h1>Thank you <%= email %></h1>
		<div class="commentDisplay">
			<p>We appreciate your comments!</p>
		</div>
        <div class="index-selection">
            <a href="/">Back to main</a>
            <br />
            <br />
            <a href="/logout">Log out</a>
		</div>
	</div>
</body>

</html>